<div class="relative w-full cart-card">
    <a href="#" class="relative p-sm w-full size-fit flex gap-base items-center group cursor-pointer">
        <div class="size-16">
            <img class="size-16 object-cover object-center border" src="../../public/images/common/error.png" width="64" height="64"
                alt="Course Image" />
        </div>
        <div class="flex-1">
            <div class="line-clamp-2 leading-4 font-semibold">Master Python in Step by Step Guide</div>
            <div class="text-xs text-muted-foreground line-clamp-1">Angela Yu</div>
            <div class="text-left">
                <span class="font-bold">$99.99</span>
                <s class="ml-1 text-sm text-muted-foreground">$199.99</s>
            </div>
        </div>
    </a>
    <div class="absolute top-xs right-xs text-foreground/70 hover:text-foreground cursor-pointer" <span class="icon-close size-base">
            <img src="../../public/images/icon/x.svg" alt="Remove Icon">
        </span>
    </div>
</div>