<div class="w-[240px] lg:w-[250px] h-fit bg-background select-none"> <!-- [ Popover Card ] -->
    <!-- Course Name -->
    <div class="text-lg leading-5 font-bold">
        Become a Product Manager
    </div>

    <!-- Instructor Information -->
    <div class="my-xs flex gap-xs items-center">
        <img class="rounded-full size-8 aspect-square object-cover overflow-hidden shrink-0"
            src="./images/common/1.jpg" alt="Course Image" />
        <p class="my-2 text-sm leading-4">
            Dr. Angela Yu, Developer and Leader of the community
        </p>
    </div>

    <!-- Course Details -->
    <div class="flex gap-1 flex-wrap items-center">
        <div class="px-1.5 bg-secondary border rounded-full overflow-hidden flex flex-nowrap text-xs flex-center">
            10 Total Hours
        </div>
        <div class="px-1.5 bg-secondary border rounded-full overflow-hidden flex flex-nowrap text-xs flex-center">
            beginner Level
        </div>
        <div class="px-1.5 bg-secondary border rounded-full overflow-hidden flex flex-nowrap text-xs flex-center">
            Subtitles
        </div>
    </div>

    <!-- Course Description -->
    <div class="my-3 leading-5">
        The most complete course available on Product Management.
    </div>

    <!-- Call-to-Action (CTA) -->
    <button class="button w-full">
        Add to cart
    </button>
</div>