<select class="text-base button button-outline-secondary">
    <option value="online">Online</option>
    <option value="usa">USA</option>
    <option value="uk">UK</option>
    <option value="india">India</option>
    <option value="uae">UAE</option>
    <option value="south-africa">South Africa</option>
    <option value="canada">Canada</option>
    <option value="new-zealand">New Zealand</option>
    <option value="australia">Australia</option>
    <option value="malaysia">Malaysia</option>
    <option value="singapore">Singapore</option>
    <option value="saudi-arabia">Saudi Arabia</option>
    <option value="egypt">Egypt</option>
    <option value="jordan">Jordan</option>
</select>