<div data-accordion data-accordion-default-value="item-1"> <!-- Accordion -->
    <div data-accordion-item="item-1">
        <div data-accordion-trigger>
            <div>
                Trigger 1
            </div>
            <div data-accordion-trigger-icon>
                <img class="size-full" src="./images/icon/chevron-down.svg" alt="Close Button" />
            </div>
        </div>

        <div data-accordion-content>
            Content 1
        </div>
    </div>
    <div data-accordion-item="item-2">
        <div data-accordion-trigger>
            <div>
                Trigger 2
            </div>
            <div data-accordion-trigger-icon>
                <img class="size-full" src="./images/icon/chevron-down.svg" alt="Close Button" />
            </div>
        </div>

        <div data-accordion-content>
            Content 2
        </div>
    </div>
</div>