<div data-modal="modalname"> <!-- MODAL -->
    <!-- Background overlay -->
    <div data-modal-overlay></div>

    <!-- Modal content -->
    <div aria-labelledby="modal-title" role="dialog" aria-modal="true" data-modal-content>
        <div data-modal-card>
            <!-- Close button -->
            <button class="absolute top-base right-base text-foreground/70 hover:text-foreground"
                aria-label="Close modal" data-modal-close>
                <img class="size-lg" src="../../public/images/icon/x.svg" alt="Close Button" />
            </button>

            <!-- Modal Header -->
            <div data-modal-head>
                <h2 class="mb-0 h4 text-center md:text-left">Select Language</h2>
            </div>

            <!-- Modal Body -->
            <div data-modal-body>
                
            </div>
        </div>
    </div>
</div>