<div data-tab="home-"> <!-- Tab -->
    <!-- Tab Panel -->
    <div data-tab-panel>
        <button data-tab-key="1">
            Button 1
        </button>
        <button data-tab-key="2">
            Button 2
        </button>
        <button data-tab-key="3">
            Button 3
        </button>
    </div>

    <!-- Tab Content -->
    <div data-tab-content="1">
        Content 1
    </div>
    <div data-tab-content="2">
        Content 2
    </div>
    <div class="" data-tab-content="3">
        Content 3
    </div>
</div>